<!-- sidebar -->
<div id="sidebar" class="span3 offset1 do-not-print">
        <div class="page-header">
        <h3>Kapitel</h3>
        </div>


        <ul class="nav nav-list">
        <% if ! @config[:chapters].nil? then %>
          <% @config[:chapters].each do |folder, chapter| %>
          <li class="<% if folder == @item[:chapter] %>parent<% end %> <%= if @config[:chapters][folder][:separator] then 'separator' end %>">
            <details <%= if folder == @item[:chapter] then 'open' end %>>
              <summary><a href="/<%= folder %>/" <% if folder == @item[:chapter] && @item[:filename].end_with?('/dex.md') %>class="active"<% end %> ><%= chapter[:title] %></a><span class="caret"></span></summary>
              <ul class="sub">
                <% if @config[:chapters][folder] %>
                  <% if @config[:chapters][folder][:items] %>
                    <% @config[:chapters][folder][:items].each do|i| %>
                      <% if i[:title] && !(i[:filename] =~ /\/dex\.md$/) %>
                      <li><a <% if @item[:filename] == i[:filename] %>class="active"<% end %> href="<%= i.identifier %>"><%= i[:title] %></a></li>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </details>
          </li>
          <% end %>
        <% end %>
        </ul>

</div>
<!-- sidebar -->
